* {    
    margin: 0;
    padding: 0;
    background-color: #bae1ff;
  }
  .header-container{
    background-color: black;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .header{
    width: auto;
    height: 50px;
    text-align: left;
    color: azure;
    background-color: black;
  }