* {    
  margin: 0;
  padding: 0;
  background-color: #bae1ff;
}
.header-container{
  background-color: black;
  padding-left: 20px;
  padding-top: 10px;
}

.header{
  width: auto;
  height: 50px;
  text-align: left;
  color: azure;
  background-color: black;
}

.container{
  display: flex;
  justify-content: center;
}

.todo, 
.doing, 
.done{
  width: 500px;
  height: 550px;
  margin: 40px;
  margin-top: 100px;
  border-bottom-style: solid ; 
  border-color: black;
}


.type{
  display: flex;
  justify-content: center;
  background-color: black;
  color: azure;
}

.container-todo{
  display: flex; 
  justify-content: center;
  background-color: #ffb3ba;
}

.container-doing{
  display: flex; 
  justify-content: center;
  background-color: #ffffba;
}

.container-done{
  display: flex; 
  justify-content: center;
  background-color: #baffc9;
}

.form{
  width: 300px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid;
  border-color: black;
  background-color: azure;
}

.form-button{
  width: 100px;
  height: 48px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid;
  border-color: black;
  background-color: azure;
}

.add{
  display: flex;
  justify-content: center;
  background-color: #ffb3ba;
  width: 400px;
  height: 70px;
}

.todo{
  background-color: #ffb3ba;
}

.doing{
  background-color: #ffffba;
}

.done{
  background-color: #baffc9;
}

.task-container-todo{
  display: inline-block;
  background-color: #ffb3ba;
}

.task-container-doing{
  display: inline-block;
  background-color: #ffffba;
}

.task-container-done{
  display: inline-block;
  background-color: #baffc9;
}
.task{
  display: flex;
  background-color:azure;
  width: 400px;
  min-height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid;
  border-color: black;
  text-align: center; 
  max-height: fit-content;
  
}

.task-list{
  background-color:azure;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
  width:300px;
  min-height: 40px; 
  max-height: auto;
}

.button-right{
  background-color: azure;
  background-image: url(./right.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  border: none;
  margin-top: 2.5px;
  float: right;
  margin-right: 10px;
}

.button-left{
  background-color: azure;
  background-image: url(./left.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  border: none;
  margin-top: 2.5px;
  float: left;
  margin-left: 10px;
}

.button-trash{
  background-color: azure;
  background-image: url(./trash.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  border: none;
  margin-top: 2.5px;
  float: left;
  margin-left: 10px;
}

.signout-button{
  background-color: azure;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  border: none;
  float: right;
  margin-right: 10px;
}

.signout{
  width:100px;
  height: 50px;
  margin-top: -4px;
  float: right;
  background-color: black;
}

.signin-header{
  display: flex; 
  justify-content: center;
  margin-top: 20px;
  width: 500px; 
  height: 100;
  background-color: azure;
}

.sign-block{
  margin: 20px;
  background-color: azure;
}

.login-block{
  display: block;
  width: 500px;
  height: 400px;
  margin-top: 50px;
  border: solid;
  border-radius: 30px;
  background-color: azure;
  
}

.block{
  display: block;
  background-color: azure;
}

.input{
  width: 460px;
  height: 50px;
  margin-top: 10px;
  background-color: lightgrey;
}

.loggin-button{
  margin-top: 10px;
  width: 460px;
  height: 50px;
  background-color: black;
  color: white;
}

.text-center{
  background-color: azure;
 text-align: center;
}

.loggin-form{
background-color: azure;
}